<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMobileService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49578/MobileService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMobileService" contract="ServiceReference1.IMobileService" name="BasicHttpBinding_IMobileService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
