################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.gpState
/MobileSAPIntegrationService/bin/Debug/libicudecnumber.dll
/MobileSAPIntegrationService/bin/MobileSAPIntegrationService.dll
/MobileSAPIntegrationService/bin/MobileSAPIntegrationService.pdb
/MobileSAPIntegrationService/bin/Release/libicudecnumber.dll
/MobileSAPIntegrationService/bin/SAP.Connector.dll
/MobileSAPIntegrationService/bin/SAP.Connector.Rfc.dll
/MobileSAPIntegrationService/bin/sapnco.dll
/MobileSAPIntegrationService/bin/sapnco_utils.dll
/MobileSAPIntegrationService/external/SAP.Connector.dll
/MobileSAPIntegrationService/external/SAP.Connector.Rfc.dll
/MobileSAPIntegrationService/external/sap/SAP_DotNetConnector3_x64/libicudecnumber.dll
/MobileSAPIntegrationService/external/sap/SAP_DotNetConnector3_x64/rscp4n.dll
/MobileSAPIntegrationService/external/sap/SAP_DotNetConnector3_x64/sapnco.dll
/MobileSAPIntegrationService/external/sap/SAP_DotNetConnector3_x64/sapnco_utils.dll
/MobileSAPIntegrationService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MobileSAPIntegrationService/obj/Debug/MobileSAPIntegrationService.dll
/MobileSAPIntegrationService/obj/Debug/MobileSAPIntegrationService.pdb
/MobileSAPIntegrationService/obj/Debug/SAP.Integration.csproj.FileListAbsolute.txt
/MobileSAPIntegrationService/obj/Debug/SAP.Integration.csprojResolveAssemblyReference.cache
/packages/repositories.config
/packages/SAPDotNetConnector3.0.3.0/content/bin/Debug/libicudecnumber.dll
/packages/SAPDotNetConnector3.0.3.0/content/bin/Release/libicudecnumber.dll
/packages/SAPDotNetConnector3.0.3.0/lib/sapnco.dll
/packages/SAPDotNetConnector3.0.3.0/lib/sapnco_utils.dll
/packages/SAPDotNetConnector3.0.3.0/SAPDotNetConnector3.0.3.0.nupkg
/packages/SAPDotNetConnector3.0.3.0/SAPDotNetConnector3.0.3.0.nuspec
/packages/SAPDotNetConnector3.0.3.0/SAPDotNetConnector3.nuspec~
