<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="PDFSaveLocation" value="C:\\temp\\PDFDirectory"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Host" value="172.100.8.33" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SystemNumber" value="00" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="User" value="Mobile"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Password" value="mobile123" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Client" value="100" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Language" value="EN" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PoolSize" value="125" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
    <add key="MaxPoolSize" value="250" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />  
  </appSettings>

  <system.diagnostics>
    <sharedListeners>
      <add MaxTraceFileSize="10485760" initializeData="C:\inetpub\wwwroot\mobile\Logs\messages.svclog"
        type="Diagnostics.RollingXmlWriterTraceListener, Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="None"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>

  <system.serviceModel>
    <services>
      <service name="KonicaMinolta.SAP.Integration.Service.MobileService">
        <endpoint name="MobileService" address="http://supproduction.mobs.int/mobile/MobileService.svc"
          behaviorConfiguration="CustomEndpointBehaviour" binding="basicHttpBinding"
          bindingConfiguration="customBasicBinding" contract="KonicaMinolta.SAP.Integration.Service.IMobileService"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      </service>
    </services>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
    <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="400-999" verbosity="Error" />
                </add>
            </traceFailedRequests>
        </tracing>
  </system.webServer>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>