<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- SAP Connection Parameters -->
    <!-- 172.100.8.80 -->
    <add key="Host" value="172.100.8.33" />
    <add key="SystemNumber" value="00" />
    <add key="User" value="Mobile" />
    <add key="Password" value="mobile123" />
    <add key="Client" value="100" />
    <add key="Language" value="EN" />
    <add key="PoolSize" value="125" />
    <add key="MaxPoolSize" value="250" />
  </appSettings>
</configuration>