<?xml version="1.0"?>
<configuration>

  <nlog internalLogFile="nlog.log" internalLogLevel="Trace" internalLogToConsole="true"
        xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target
        name="file" xsi:type="File" fileName="${basedir}/Logs/KonicaTracing${shortdate}.log"
        layout="${date:format=HH\:mm\:ss}|${level}|${logger}|${message}|${exception:format=Type,Message}"
          archiveEvery="Day"
          archiveFileName="${basedir}/Logs/Archive/KonicaTraceArc_${shortdate}-{#####}.log"
          archiveNumbering="Sequence"
          concurrentWrites="false"
          maxArchiveFiles="3"
          />

    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>